body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10; 
}

.navbar {
  background-image: linear-gradient(to right, #dcbfe0, #5f1782);
  padding: 0 !important; 
} 

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

/* .navbar-toggler {
  outline: none !important;
} */

/* banner section  */

#banner {
  background-color: rgb(209, 181, 214);
  padding-top: 5%; 
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

footer {
  text-align: center;
}

#enquiries {
  background-color: #dcbfe0;
}