body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

/* nav {
  position: sticky;
  top: 0;
  z-index: 10; 
} */

.navbar {
  background-image: linear-gradient(to right, #dcbfe0, #5f1782);
  padding: 0 !important; 
  position: sticky;
  top: 0;
  z-index: 10; 
} 

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.navbar-toggler {
  outline: none !important;
}

/* banner section  */

#banner {
  background-color: rgb(232, 196, 238);
  padding-top: 2%; 
  padding-bottom: 2%;
  text-align: center;
}

section {
  margin-top: 5px;
  padding: 1%;
}
footer {
  text-align: center;
}

#enquiries {
  background-color: #f0def1;
}